:root{
    
    font-size: 62.5%;
    width: 100vw;
    height: 100vh;
}
*{
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


h2,
h3,
h4{
    margin-bottom: 1rem;
}


h2{
    font-size: 3rem;
    margin-top: 8rem;
    margin-bottom: 4rem;
    margin-right: 25px;
    font-weight: 700;
    text-align: center;
    color: ghostwhite;
}

h3{
    font-size: 3rem;
    font-weight: 700;
    color: ghostwhite;
    text-align: center;
}
   

   
   /* CSS which you need for blurred box */
   body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-image:url(https://imgur.com/gallery/aAZ06oZ);
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica;
    letter-spacing: 0.02em;
    font-weight: 400;
    -webkit-font-smoothing: antialiased; 
   }
   
   .blurred-box{
     position: absolute;
     width: 275px;
     height: 445px;
     top: calc(50% - 175px);
     left: calc(50% - 125px);
     background: inherit;
     border-radius: 2px;
     overflow: hidden;
   }
   
   .blurred-box:after{
    content: '';
    width: 300px;
    height: 500px;
    background: inherit; 
    position: absolute;
    left: -25px;
    right: 0;
    top: -25px;  
    bottom: 0;
    box-shadow: inset 0 0 0 200px rgba(255,255,255,0.099);
    filter: blur(10px);
   }
   
   
   
   .user-login-box{
     position: relative;
     margin-top: 50px;
     text-align: center;
     z-index: 1;
   }
   .user-login-box > *{
     display: inline-block;
     width: 200px;
   }
   
   .user-icon{
     width: 200px;
     height: 200px;
     position: relative;
     border-radius: 50%;
     background-size: cover;
     background-image: url(IMG_8212.jpg);
   }
   
   .cv-name{
     margin-top: 15px;
     margin-bottom: 15px;
     color: white;
     font-size: 2rem;
   }
   
   /* BUTTONS */

   .btn{
       font-size: 1.8rem;
       padding: 0.5rem 0;
       width: 20rem;
       text-align: center;
       border: 0.1rem solid #ef504e;
       margin-bottom: 1rem;
       text-decoration: none;
       color:#ef504e; 
       background-color: ghostwhite;
       
       
   }

   .btn:hover{
       cursor:pointer;
       box-shadow: 0 0.4rem 1.4rem 0 rgba(255, 127, 80);
       transform: translateY(-0.1rem);
       transition: transform 150ms;
   }

   .btn[disabled]:hover{
       cursor: not-allowed;
       box-shadow: none;
       transform: none;
   }

   